body{
    margin: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
    font-size: 40px;
}

.container{
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding:  20px;
    width: 85%;
    max-width: 400px;
    font-size: 20px;
    text-align: center;
}

.heading{
    margin: 5px;
    font-size: 30px;
}

.ratings-container{
    display: flex;
    padding: 20px 0;
}

.rating{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
}

.rating:hover,
.rating.active
{
    background: darkcyan;
    border-radius: 8.5px;
    box-shadow: o o 10px rgba(0, 0, 0, .3);
    color: white;
    transition: all 300ms ease-in-out;
}

.btn{
    background-color: black;
    color: white;
    border: 0;
    margin: 10px;
    border-radius: 4px;
    padding: 15px 40px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transition: all 300ms ease-in-out;
}

.btn:active{
    transform: scale(0.96);
}
.rating img{
    height: 70px;
}